fastapi                     # The web framework
uvicorn[standard]          # The server that runs the app
python-multipart            # Required for the Login Form (OAuth2)
python-dotenv               # To read your .env file (secrets)
requests                    # To make HTTP calls (used by Streamlit/Agents)

sqlmodel                    # The ORM (Pydantic + SQLAlchemy)
psycopg2-binary            # The driver that lets Python talk to PostgreSQL
alembic                     # (Optional but good) For database migrations later

passlib[bcrypt]            # To hash passwords (security)
python-jose[cryptography]   # To generate and verify JWT tokens


sqladmin                    # The instant Admin Dashboard
wtforms                     # Required by sqladmin for forms


langchain                   # The framework for Agent logic
langchain-groq              # The integration for Groq LLMs
langchain-community         # Extra tools for LangChain
mcp                         # The Model Context Protocol SDK